<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="https://vinti7.com/wp-content/uploads/2016/08/logos-de-cohetes-41.jpg" />
    </ion-card-header>
    <ion-card-content>
      <form #loginHForm="ngForm" (ngSubmit)="loginUser()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" [(ngModel)]="form.email" name="email" required ngControl="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="form.password" name="password" required ngControl="password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="!loginHForm.valid">Ingresar</ion-button>
      </form>
      <div style="text-align: center; margin-top: 2em; font-size: 1em;">
        <!--<ion-button expand="full" [routerLink]="['/password-reset/']" color="warning">Olvidé mi contraseña</ion-button>-->
        <a routerLink='/password-reset'>Olvidé mi contraseña</a>
      </div>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center; margin: auto;">
    
    <div>
      <p style="text-align: center;">¿No tienes una cuenta? Registrate</p>
      <ion-button expand="full" [routerLink]="['/sign-up/']" color="success">Crear una cuenta</ion-button>
    </div>
  </div>
</ion-content>
