<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="light" (click)="openFirst()">
      <ion-icon slot="start" name="menu"></ion-icon>
    </ion-button>
    <ion-title class="item-text-wrap">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adop Dog</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item button [routerLink]="['/create-request/' + post.id]" *ngFor="let post of posts">
      <ion-card>
        <ion-card-header>
          <ion-img [src]="post.picture ? post.picture : 'https://w7.pngwing.com/pngs/700/924/png-transparent-creative-cute-puppy-pet-puppy-dogs-pet.png'"></ion-img>
          <ion-card-title>{{post.race}} - {{post.name}}</ion-card-title>
          <ion-card-subtitle>Cerca de {{post.municipality}} - Publicado: {{(post.createdAt?.seconds * 1000) | date : 'yyyy-MM-dd HH:mm'}}</ion-card-subtitle>
          <ion-badge color="primary" style="margin-top: 2em; padding: 1em;">Llenar solicitud</ion-badge>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <div [hidden]="posts && posts.length > 0" style="text-align: center;">No existen publicaciones</div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" [routerLink]="['/create-post']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
